### Importing Libraries

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### Reding Datasets

In [2]:
df=pd.read_csv("MES_0324.csv")
df.head()

,Country,Time,Balance,Product,Value,Unit
0,Australia,Mar-24,Net Electricity Production,Electricity,23130.2764,GWh
1,Australia,Mar-24,Net Electricity Production,Total Combustible Fuels,14353.8714,GWh
2,Australia,Mar-24,Net Electricity Production,"Coal, Peat and Manufactured Gases",10304.7825,GWh
3,Australia,Mar-24,Net Electricity Production,Oil and Petroleum Products,330.5351,GWh
4,Australia,Mar-24,Net Electricity Production,Natural Gas,3492.4621,GWh

In [3]:
df.shape

(140988, 6)

### Data Cleaning

In [4]:
df.isna().sum()

Country     0
Time        0
Balance     0
Product     0
Value      18
Unit        0
dtype: int64

In [5]:
df.dtypes

Country     object
Time        object
Balance     object
Product     object
Value      float64
Unit        object
dtype: object

In [6]:
df.describe(include='all')

,Country,Time,Balance,Product,Value,Unit
count,140988,140988,140988,140988,1.409700e+05,140988
unique,53,171,7,16,NaN,1
top,IEA Total,Mar-21,Net Electricity Production,Electricity,NaN,GWh
freq,3420,998,108526,40667,NaN,140988
mean,NaN,NaN,NaN,NaN,1.863672e+04,NaN
std,NaN,NaN,NaN,NaN,7.921900e+04,NaN
min,NaN,NaN,NaN,NaN,0.000000e+00,NaN
25%,NaN,NaN,NaN,NaN,6.173750e+01,NaN
50%,NaN,NaN,NaN,NaN,6.951661e+02,NaN
75%,NaN,NaN,NaN,NaN,4.347985e+03,NaN
max,NaN,NaN,NaN,NaN,1.004657e+06,NaN

In [7]:
df['Value'].fillna(1.863672e+04,inplace=True)

In [8]:
df.isna().sum()

Country    0
Time       0
Balance    0
Product    0
Value      0
Unit       0
dtype: int64

In [9]:
df.dtypes

Country     object
Time        object
Balance     object
Product     object
Value      float64
Unit        object
dtype: object

In [10]:
# Splitng the Time column into month and date column
df[['Month', 'Date']] = df['Time'].str.split('-', expand=True)

In [11]:
df = df.drop(['Time'],axis=1)

In [12]:
df.drop(['Unit'],axis=1,inplace=True)

In [13]:
df.head()

,Country,Balance,Product,Value,Month,Date
0,Australia,Net Electricity Production,Electricity,23130.2764,Mar,24
1,Australia,Net Electricity Production,Total Combustible Fuels,14353.8714,Mar,24
2,Australia,Net Electricity Production,"Coal, Peat and Manufactured Gases",10304.7825,Mar,24
3,Australia,Net Electricity Production,Oil and Petroleum Products,330.5351,Mar,24
4,Australia,Net Electricity Production,Natural Gas,3492.4621,Mar,24

In [14]:
for i in df.columns:
    print(f'{i}:\n{df[i].unique()}\n')

Country:
['Australia' 'Austria' 'Belgium' 'Canada' 'Chile' 'Colombia' 'Costa Rica'
 'Czech Republic' 'Denmark' 'Estonia' 'Finland' 'France' 'Germany'
 'Greece' 'Hungary' 'Iceland' 'Ireland' 'Italy' 'Japan' 'Korea' 'Latvia'
 'Lithuania' 'Luxembourg' 'Mexico' 'Netherlands' 'New Zealand' 'Norway'
 'Poland' 'Portugal' 'Slovak Republic' 'Slovenia' 'Spain' 'Sweden'
 'Switzerland' 'Republic of Turkiye' 'United Kingdom' 'United States'
 'OECD Americas' 'OECD Asia Oceania' 'OECD Europe' 'OECD Total'
 'IEA Total' 'Argentina' 'Brazil' 'Bulgaria' "People's Republic of China"
 'Croatia' 'Cyprus' 'India' 'Malta' 'North Macedonia' 'Romania' 'Serbia']

Balance:
['Net Electricity Production' 'Used for pumped storage'
 'Distribution Losses' 'Final Consumption (Calculated)' 'Total Imports'
 'Total Exports' 'Remarks']

Product:
['Electricity' 'Total Combustible Fuels'
 'Coal, Peat and Manufactured Gases' 'Oil and Petroleum Products'
 'Natural Gas' 'Combustible Renewables' 'Hydro' 'Wind' 'Solar'
 'Total Renewables (Hydro, Geo, Solar, Wind, Other)'
 'Other Combustible Non-Renewables' 'Geothermal' 'Not Specified' 'Nuclear'
 'Data is estimated for this month' 'Other Renewables']

Value:
[ 23130.2764  14353.8714  10304.7825 ...   6869.253   62000.733
 877213.615 ]

Month:
['Mar' 'Feb' 'Jan' 'Dec' 'Nov' 'Oct' 'Sep' 'Aug' 'Jul' 'Jun' 'May' 'Apr']

Date:
['24' '23' '22' '21' '20' '19' '18' '17' '16' '15' '14' '13' '12' '11'
 '10']

In [15]:
df = df[df['Country'] != 'Costa Rica']

In [16]:
#For country
df['Country'].value_counts()

OECD Total                    3420
OECD Europe                   3420
IEA Total                     3420
France                        3408
OECD Americas                 3381
OECD Asia Oceania             3330
United Kingdom                3318
United States                 3297
Germany                       3284
Canada                        3258
Republic of Turkiye           3254
Portugal                      3182
Spain                         3177
Czech Republic                3174
Belgium                       3174
Italy                         3174
Austria                       3174
Slovak Republic               3147
Mexico                        3144
Poland                        3123
Netherlands                   3116
Slovenia                      3070
Finland                       3051
New Zealand                   3050
Sweden                        3046
Hungary                       3036
Japan                         3029
Switzerland                   3024
Korea                         3015
Norway                        3014
Greece                        2939
Luxembourg                    2916
Ireland                       2904
Lithuania                     2879
Denmark                       2805
Latvia                        2715
Estonia                       2697
Australia                     2657
Chile                         2528
Iceland                       2031
Colombia                      2005
People's Republic of China    1638
Brazil                        1584
India                         1584
Romania                       1523
Argentina                     1494
Bulgaria                      1472
Serbia                        1399
Croatia                       1356
North Macedonia               1350
Cyprus                        1161
Malta                         1141
Name: Country, dtype: int64

In [17]:
# Deleting the unnecessary data of balance column
df = df[df['Balance'] != 'Remarks']

In [18]:
#For country
df['Balance'].value_counts()

Net Electricity Production        108175
Distribution Losses                 6963
Final Consumption (Calculated)      6963
Total Imports                       6312
Total Exports                       6301
Used for pumped storage             5771
Name: Balance, dtype: int64

In [19]:
# Saving cleaned data into csv file
df.to_csv('Cleaned1.csv',index=False)

In [20]:
df_copy = df

In [21]:
from sklearn.preprocessing import LabelEncoder
import pandas as pd
import joblib
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestRegressor,GradientBoostingRegressor
from sklearn.linear_model import Lasso,Ridge,LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.svm import SVR

In [22]:
country_encoder=LabelEncoder()
balance_encoder=LabelEncoder()
product_encoder=LabelEncoder()
month_encoder=LabelEncoder()

In [23]:
from sklearn.metrics import mean_squared_error, r2_score

In [24]:
def evaluate_model(model, x_train, y_train, x_test, y_test):
    model.fit(x_train, y_train)
    y_pred = model.predict(x_test)
    mse = mean_squared_error(y_test, y_pred)
    r2 = r2_score(y_test, y_pred)
    return mse, r2

In [25]:
df_copy

,Country,Balance,Product,Value,Month,Date
0,Australia,Net Electricity Production,Electricity,23130.2764,Mar,24
1,Australia,Net Electricity Production,Total Combustible Fuels,14353.8714,Mar,24
2,Australia,Net Electricity Production,"Coal, Peat and Manufactured Gases",10304.7825,Mar,24
3,Australia,Net Electricity Production,Oil and Petroleum Products,330.5351,Mar,24
4,Australia,Net Electricity Production,Natural Gas,3492.4621,Mar,24
...,...,...,...,...,...,...
140983,IEA Total,Total Imports,Electricity,34846.5580,Jan,10
140984,IEA Total,Total Exports,Electricity,32372.5830,Jan,10
140985,IEA Total,Used for pumped storage,Electricity,6869.2530,Jan,10
140986,IEA Total,Distribution Losses,Electricity,62000.7330,Jan,10
140987,IEA Total,Final Consumption (Calculated),Electricity,877213.6150,Jan,10

In [26]:
df_copy['Country'] = country_encoder.fit_transform(df_copy['Country'])
df_copy['Balance'] = balance_encoder.fit_transform(df_copy['Balance'])
df_copy['Product'] = product_encoder.fit_transform(df_copy['Product'])
df_copy['Month'] = month_encoder.fit_transform(df_copy['Month'])

In [27]:
# Save the encoders for future use
joblib.dump(country_encoder, 'country_encoder.pkl')
joblib.dump(balance_encoder, 'balance_encoder.pkl')
joblib.dump(product_encoder, 'product_encoder.pkl')
joblib.dump(month_encoder, 'month_encoder.pkl')

['month_encoder.pkl']

In [28]:
# Model training for df2
p = df_copy.drop(columns=['Value'], axis=1)
q = df_copy['Value']
x_train, x_test, y_train, y_test = train_test_split(p, q, test_size=0.3, random_state=3)

# Standard Scaler Transform
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
p_train = sc.fit_transform(x_train)
p_test = sc.transform(x_test)

In [29]:
# Train a Random Forest Regressor model
rf_model = RandomForestRegressor(random_state=2)
rf_mse, rf_r2 = evaluate_model(rf_model, x_train, y_train, x_test, y_test)
print(f'Random Forest - Mean Squared Error: {rf_mse}')
print(f'Random Forest - R^2 Score: {rf_r2}\n')

# Try a Gradient Boosting Regressor model
gb_model = GradientBoostingRegressor(random_state=2)
gb_mse, gb_r2 = evaluate_model(gb_model, x_train, y_train, x_test, y_test)
print(f'Gradient Boosting - Mean Squared Error: {gb_mse}')
print(f'Gradient Boosting - R^2 Score: {gb_r2}\n')

# Try a Linear Regression model
lr_model = LinearRegression()
lr_mse, lr_r2 = evaluate_model(lr_model, x_train, y_train, x_test, y_test)
print(f'Linear Regression - Mean Squared Error: {lr_mse}')
print(f'Linear Regression - R^2 Score: {lr_r2}\n')

ls_model = Lasso()
ls_mse, ls_r2 = evaluate_model(ls_model, x_train, y_train, x_test, y_test)
print(f'Lasso - Mean Squared Error: {ls_mse}')
print(f'Lasso - R^2 Score: {ls_r2}\n')

rd_model = Ridge()
rd_mse, rd_r2 = evaluate_model(rd_model, x_train, y_train, x_test, y_test)
print(f'Ridge - Mean Squared Error: {rd_mse}')
print(f'Ridge - R^2 Score: {rd_r2}\n')

ds_model = DecisionTreeRegressor()
ds_mse, ds_r2 = evaluate_model(ds_model, x_train, y_train, x_test, y_test)
print(f'decissiontree Regression - Mean Squared Error: {ds_mse}')
print(f'decissiontree Regression - R^2 Score: {ds_r2}\n')

Random Forest - Mean Squared Error: 13437477.614109444
Random Forest - R^2 Score: 0.9978815387998397

Gradient Boosting - Mean Squared Error: 3405004980.6884336
Gradient Boosting - R^2 Score: 0.46319010568122077

Linear Regression - Mean Squared Error: 6235824469.190934
Linear Regression - R^2 Score: 0.016902385376233564

Lasso - Mean Squared Error: 6235824304.688135
Lasso - R^2 Score: 0.01690241131062442

Ridge - Mean Squared Error: 6235824474.928126
Ridge - R^2 Score: 0.016902384471746856

decissiontree Regression - Mean Squared Error: 18282051.521697648
decissiontree Regression - R^2 Score: 0.9971177762731763

In [30]:
model1 = RandomForestRegressor(n_estimators=100)
model1.fit(x_train, y_train)
joblib.dump(model1, 'model.pkl')

['model.pkl']

In [31]:
# Prediction Example
# Example input
input_data = [['Austria', 'Total Imports', 'Electricity', 'Jan', 25]]

# Load the encoders
country_encoder = joblib.load('country_encoder.pkl')
balance_encoder = joblib.load('balance_encoder.pkl')
product_encoder = joblib.load('product_encoder.pkl')
month_encoder = joblib.load('month_encoder.pkl')

# Create a DataFrame for the input data
input_df = pd.DataFrame(input_data, columns=['Country', 'Balance', 'Product', 'Month', 'Date'])

# Encode the input data
input_df['Country'] = country_encoder.transform(input_df['Country'])
input_df['Balance'] = balance_encoder.transform(input_df['Balance'])
input_df['Product'] = product_encoder.transform(input_df['Product'])
input_df['Month'] = month_encoder.transform(input_df['Month'])

# Extract the features
input_features = input_df[['Country', 'Balance', 'Product', 'Month', 'Date']].values

# Load the trained model
model = joblib.load('model.pkl')  # Use model_2.pkl if appropriate

# Make a prediction
predicted_price = model.predict(input_features)
print(f"The predicted price is: {predicted_price[0]}")

The predicted price is: 1896.1778420000023

C:\Users\HP\AppData\Roaming\Python\Python311\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(